# mypy cache
.mypy_cache
# clangd cache
.cache
# pytest cache
.pytest_cache

# poetry lock
# You CAN cancel ingore when you want to lock every single dependency.
poetry.lock

# build output
build
cmake-build-*
dist
*.so
*.dll
/auto_pybind/*.pyi

# vscode settings
.vscode

# python cache
__pycache__

# venv
/venv
/.venv

# JetBrains IDE
.idea
